<%= form_for(@dinner_order) do |f| %>
    <% if @dinner_order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@dinner_order.errors.count, "error") %> prohibited this dinner order from being saved:</h2>

          <ul>
            <% @dinner_order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= hidden_field(:dinner_order, :user_id, value: current_user.id)%>
    </div>
    <div class="field">
      <%= f.label :menu_content_id %><br>
      <%= f.collection_select :menu_content_id, MenuContent.where(["occasion = '%s' and day_id = '%s'", "Dinner", Time.now.wday]).order(:id), :id, :food_item,
                              :include_blank => true
      %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
